<div class="col-md-4 col-md-offset-4 well">

    <h3 class="text-center">Sign in to your account.</h3>

    <form class="form-horizontal" role="form" name="loginForm" novalidate>

      <div class="form-group">
        <label for="email" class="col-md-4 control-label">Email</label>
        <div class="col-md-8">
          <input type="email" class="form-control" id="email" placeholder="Email address"
                 ng-model="loginModel.email" hl-focus>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-md-4 control-label">Password</label>
        <div class="col-md-8">
          <input type="password" class="form-control" id="password" placeholder="Password"
                 ng-model="loginModel.password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="loginModel.remember"> Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
        <button class="btn btn-primary"
                ng-click="login(loginModel)" ng-disabled="ctrlHelper.isLoading" >Sign in</button>
        </div>
      </div>

    </form>

</div>
